@import '../../../../app.component.scss';
table {
	border-collapse: collapse;
	width: 100%;
	tr {
		border: 1px solid #ccc;
	}
	tr:first-child {
		background-color: #CCDFCB;
	}
	th {
		padding: 0.5rem;
	}
	td {
		width:50px;
		text-align:center; 
		padding: 1rem;
		font-weight: bold;
		font-weight: normal;
	}
	img {
		height: 1.5rem;
	}
	.editImage {
		height: .75rem;
	}
	.editImage:hover {
		cursor: pointer;
	}
	.disabled {
		background-color: #707677
	}
}

p {
	margin-left: 5px;
	color: #ff6860;
}