.container {
	display: flex;
	height: 90vh;
	#players, #specs {
		margin-left: 1rem;
		margin-right: 1rem;
		flex-grow: 1;
		width: 25%;
	}
	#encounter {
		margin-left: 1rem;
		margin-right: 1rem;
		flex-grow: 2;
		width: 50%;
	}
}
