<div class="container">
	<div id="players">
		<h2>Library</h2>
		<div>
			<button class="button" (click)="showListItems(0)">Monsters</button>
			<button class="button" (click)="showListItems(1)">Heroes</button>
			<button class="button" (click)="showListItems(2)">Encounters</button>
		</div>
		<div>
			<app-list *ngIf="listLoaded" [items]="items" [lastListClicked]="lastListClicked" (onItemClicked)="addItemToInitiative($event)"
			 (onEditItemClicked)="editItem($event)" (onCreateNewClicked)="createNewItem($event)"></app-list>
		</div>
	</div>
	<div id="encounter">
		<div>
			<app-initiative-table *ngIf="showEncounter" [encounterItems]='encounterItems' [updatedItem]="updatedItem" (onRemoveItem)="removeItem($event)"
			 (onStartEncounter)="startEncounter()" (onSaveEncounter)="giveNewEncounterName()"></app-initiative-table>
		</div>
	</div>
	<div id="specs" *ngIf="editLoaded || showCreateMonsterHeroOrEncounter">
		<div>
			<app-specs [item]="item" [createItem]="createItem" (onSaveItem)="saveOrCreateItem($event)"
			 (onCancelClicked)="cancel()"></app-specs>
		</div>
	</div>
</div>