<div class="container">
	<div id="players">
		<h2>Library</h2>
		<div>
			<button class="button" (click)="showMonsterOrHeroesList(0)">Monsters</button>
			<button class="button" (click)="showMonsterOrHeroesList(1)">Heroes</button>
			<button class="button" (click)="showEncountersList()">Encounters</button>
		</div>
		<div>
			<app-list *ngIf="monsterOrHeroloaded" [players]="players" (onItemClicked)="addPlayerToInitiative($event)" (onEditItemClicked)="viewCombatant($event)"
			 (onAddPlayerClicked)="createNewPlayer($event)"></app-list>
			<app-list *ngIf="encounterLoaded" [encounters]="encounters" (onItemClicked)="addEncounterToInitiative($event)" (onEditItemClicked)="viewEncounter($event)"></app-list>
		</div>
	</div>
	<div id="encounter">
		<div>
			<app-initiative-table *ngIf="combatants.length" [updatedPlayer]='updatedPlayer' [combatants]="combatants" (onStartEncounter)="startEncounter($event)"
			 (onSaveEncounter)="saveCombatantsToEncounter($event)"></app-initiative-table>
		</div>
	</div>
	<div id="specs">
		<div>
			<app-specs *ngIf="enableCombatant" [combatant]="combatant" (onSaveChanges)="editPlayer($event)"></app-specs>
			<app-specs *ngIf="createNewMonsterOrHero" [monsterOrHero]="monsterOrHero" (onSaveChanges)="savePlayer($event)"></app-specs>
			<app-specs *ngIf="enableEncounter" [encounter]="encounter" (onSaveEncounter)="saveEncounter($event)"></app-specs>
		</div>
	</div>
</div>