.container {
	display: flex;
	justify-content: center;
}
#activePlayer {
	margin-left: 1rem;
	margin-right: 1rem;
	flex-grow: 1;
	width: 25%;
}
#encounter {
	margin-left: 1rem;
	margin-right: 1rem;
	flex-grow: 2;
	min-width: 50%;
}

h2 {
	margin: 1rem;
}

.endState {
	border: 2px solid #056571;
	padding: 2rem;
	background-color: #fff;
	position: absolute;
	left: 33vw;
	top: 33vh;
	display: flex;
	flex-flow: column;
	width: 30%;
	box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
	justify-content: center;
	align-items: center;
	button {
		width: 35%;
	}
}