<h2 *ngIf="combatant">Edit {{playerType[combatant.type]}}</h2>
<h2 *ngIf="playerType[monsterOrHero]">Create new {{playerType[monsterOrHero]}}</h2>
<form *ngIf="combatant || playerType[monsterOrHero]" [formGroup]="combatantForm" (ngSubmit)="saveChanges()">
	<label for="name">Name:</label>
	<input [ngClass]="{'invalid': !combatantForm.controls['Name'].valid && combatantForm.controls['Name'].touched }" type="text"
	 id="name" formControlName="Name">
	<label *ngIf="playerType[monsterOrHero]==='Hero' || combatant && playerType[combatant.type]==='Hero'" for="player">Player:</label>
	<input *ngIf="playerType[monsterOrHero]==='Hero' || combatant && playerType[combatant.type]==='Hero'" type="text" id="player"
	 formControlName="Player">
	<label for="hitPoints">Hitpoints</label>
	<input [ngClass]="{'invalid': !combatantForm.controls['Hitpoints'].valid && combatantForm.controls['Hitpoints'].touched}"
	 type="number" id="hitPoints" formControlName="Hitpoints">
	<label for="armorClass">Armorclass:</label>
	<input [ngClass]="{'invalid': !combatantForm.controls['Armorclass'].valid && combatantForm.controls['Armorclass'].touched}"
	 type="number" id="armorClass" formControlName="Armorclass">
	<label for="initiative">Initiative:</label>
	<input [ngClass]="{'invalid': !combatantForm.controls['Initiative'].valid && combatantForm.controls['Initiative'].touched}"
	 type="number" id="initiative" formControlName="Initiative">
	<button type="submit" class="button" [disabled]="combatantForm && !combatantForm.valid">Save Changes</button>
	<button type="button" class="button" (click)="cancel()">Cancel</button>
</form>

<h2 *ngIf="encounter">Edit encounter</h2>
<form *ngIf="encounter" [formGroup]="encounterForm" (ngSubmit)="saveEncounter()">
	<label for="encounterName">Encounter name:</label>
	<input [ngClass]="{'invalid': !encounterForm.controls['EncounterName'].valid && encounterForm.controls['EncounterName'].touched }"
	 type="text" id="encounterName" formControlName="EncounterName">
	<button type="submit" class="button" [disabled]="encounterForm && !encounterForm.valid">Save Changes</button>
	<button type="button" class="button" (click)="cancel()">Cancel</button>
</form>

<h2 *ngIf="combatantsList">Create new encounter</h2>
<form *ngIf="combatantsList" [formGroup]="encounterForm" (ngSubmit)="saveEncounter()">
	<label for="encounterName">Encounter name:</label>
	<input [ngClass]="{'invalid': !encounterForm.controls['EncounterName'].valid && encounterForm.controls['EncounterName'].touched }"
	 type="text" id="encounterName" formControlName="EncounterName">
	<button type="submit" class="button" [disabled]="encounterForm && !encounterForm.valid">Save Changes</button>
	<button type="button" class="button" (click)="cancel()">Cancel</button>
</form>