<h1> PLAYING BOARD</h1>
<table>
	<tr>
		<th>Combatant</th>
		<th>
			<img src="../../../../../assets/images/favorite-heart.png" alt="Hitpoints">
		</th>
		<th>
			<img src="../../../../../assets/images/rpg-game.png" alt="Armor Class">
		</th>
		<th>
			<img src="../../../../../assets/images/dice.png" alt="Initiative">
		</th>
		<th>Player</th>
		<th>Remove combatant</th>
		<th>Visibility</th>
	</tr>
	<tr *ngFor="let combatant of combatants" class="{{combatant.item}}">
		<td>{{combatant.player.name | uppercase}} {{combatant.tempId}}</td>
		<td>{{combatant.game.currentHitPoints}}/{{combatant.player.hitPoints}}</td>
		<td>{{combatant.player.armorClass}}</td>
		<td>{{combatant.game.initiative}}</td>
		<td>{{combatant.player.player}}</td>
		<td (click)="removeCombatant(combatant.player.name, combatant.tempId)">
			<img class="editImage" src="../../../../../assets/images/cancel.png" alt="remove">
		</td>
		<td>
			<label class="switch">
				<input type="checkbox" checked>
				<span class="slider round"></span>
			</label>
		</td>
	</tr>
</table>