<table>
	<tr>
		<th></th>
		<th>
			<img src="../../../../../assets/images/dice.png" alt="Initiative">
		</th>
		<th>Combatant</th>
		<th>
			<img src="../../../../../assets/images/favorite-heart.png" alt="Hitpoints">
		</th>
		<th>
			<img src="../../../../../assets/images/rpg-game.png" alt="Armor Class">
		</th>
		<th>Player</th>
		<th>Visibility</th>
		<th>Remove combatant</th>
	</tr>
	<tr *ngFor="let item of encounterItems; let i = index;" [ngClass]="{'active': item.played && encounterStarted, 'selected': item.selected}"
	 (click)="showItemDetails($event, encounterItems[i])">
		<td *ngIf="item.originalItem.creatureType === 0">
			<img src="../../../../../assets/images/japanese-dragon.png">
		</td>
		<td *ngIf="item.originalItem.creatureType === 1">
			<img src="../../../../../assets/images/helmet.png">
		</td>
		<td>{{item.initiative}}</td>
		<td>{{item.originalItem.name | uppercase}}</td>
		<td>{{item.currentHitPoints}}/{{item.originalItem.hitPoints}}</td>
		<td>{{item.originalItem.armorClass}}</td>
		<td *ngIf="item.originalItem.creatureType === 1">{{item.originalItem.player}}</td>
		<td *ngIf="item.originalItem.creatureType === 0"></td>
		<td class="hasEvent">
			<label class="switch" *ngIf="item.originalItem.creatureType === 0">
				<input class="hasEvent" type="checkbox" [(ngModel)]="item.visible">
				<span class="slider round"></span>
			</label>
		</td>
		<td class="hasEvent" (click)="removeCombatant(i)">
			<img class="editImage" src="../../../../../assets/images/cancel.png" alt="remove">
		</td>
	</tr>
</table>
<app-popup *ngIf="showPopup" (onDelete)="confirmDelete($event)"></app-popup>