@import '../../../../app.component.scss';
table {
	
	border-collapse: collapse;
	width: 100%;
	tr {
		cursor: pointer;
		border: 1px solid #192231;
	}
	tr:first-child{
		background-color: #CCDFCB;
		font-weight: bold;
	}
	th:first-child {padding: 0.5rem;}
	tr:hover:first-child{
		color: #414141;
	}
	tr:hover{
		color: #FF6860;
	}
	td {
		width:50px;
		text-align:center; 
		padding: 1rem;
    	font-weight: normal;
	}
	img {
		height: 1.5rem;
	}
	.editImage {
		height: .75rem;
	}
	.editImage:hover {
		cursor: pointer;
	}
}

.active {
	background-color:  #FF6860;
	color: #fff;
}
.active:hover {
	color: #414141 !important;
}

.selected {
	border: 2px solid #056571 !important;
}

// CSS FOR SWITCH //

.switch {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 20px;
  }

.switch input {
	display:none;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #FF6860;
	-webkit-transition: .4s;
	transition: .4s;
}
  
  .slider:before {
	position: absolute;
	content: "";
	height: 15px;
	width: 15px;
	left: 4px;
	bottom: 3px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}
  
input:checked + .slider {
	background-color: #CCDFCB;
}
  
input:focus + .slider {
	box-shadow: 0 0 1px #CCDFCB;
}
  
input:checked + .slider:before {
	-webkit-transform: translateX(18px);
	-ms-transform: translateX(18px);
	transform: translateX(18px);
}

.slider.round {
	border-radius: 34px;
}
  
.slider.round:before {
	border-radius: 50%;
}