@import '../../../../app.component.scss';

ul {
	max-height: 55vh;
	overflow-y: auto;
	list-style-type: none;
	padding: 0;
	margin: 0;
	li {
		font-weight: normal;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		font-weight: normal;
		border-top: 1px solid #ccc;
		span:first-child {
			width: 100%;
			padding: 1rem;
		}
		span:last-child {
			padding: 1rem;
		}
		img {
			height: 1rem;
		}
	}
	li:hover {
		cursor: pointer;
		color: #ff6860;
	}
	li:last-child {
		border-bottom: 1px solid #ccc;
	}
}

ul::-webkit-scrollbar {
	width: 12px;
}

ul::-webkit-scrollbar-track {
	border-radius: 2px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

ul::-webkit-scrollbar-thumb {
	border-radius: 2px;
	background-color: #ccc;
}

.createNew {
	margin-top: 25px;
}