<form [formGroup]="searchForm">
	<input type="text" formControlName="search" placeholder="Search a {{creatureTypeEnum[lastListClicked]}}...">
</form>
<ul *ngIf="items">
	<li *ngFor="let item of items | mapping: showFiltered.bind(this)">
		<span (click)="selectItem(item)">{{item.name}}</span>
		<span (click)="editItem(item)">
			<img src="../../../../../assets/images/pencil_edit.png" alt="Edit">
		</span>
	</li>
</ul>
<button *ngIf="lastListClicked===0 || lastListClicked===1" class="button" (click)="addNewItem(lastListClicked)">Add new {{creatureTypeEnum[lastListClicked]}}</button>