@import '../../../../app.component.scss';

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	background-color: $Matte;
	li {
		padding: 1rem;
		font-weight: bold;
		background-color: $Matte;
		color: #fff;
		border: 1px solid $Evening;
	}
	li:hover {
		cursor: pointer;
		background-color: $Matte;
		color: $Fresh;
		border: 1px solid $Fresh;
	}
}