<dl>
	<dt>Name:</dt>
	<dd>{{activePlayer.originalItem.name}}</dd>
	<dt>Hitpoints</dt>
	<dd>{{activePlayer.originalItem.hitPoints}}</dd>
	<dt>Armorclass:</dt>
	<dd>{{activePlayer.originalItem.armorClass}}</dd>
	<dt>Initiative:</dt>
	<dd>{{activePlayer.originalItem.initModifier}}</dd>
</dl>
<form *ngIf="!disableInput && showDamage" [formGroup]="damageForm">
	<label for="damage">Damage/heal:</label>
	<input type="number" formControlName="Damage">
	<button type="button" class="button" (click)="saveDamage('dam')">Damage</button>
	<button type="button" class="button" (click)="saveDamage('heal')">Heal</button>
	<button type="button" class="button" (click)="cancel()">Cancel</button>
</form>