/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

html {
	color: #414141;
}

header {
	display: flex;
	justify-content: center;
	font-family: 'Dancing Script', cursive;
	width: 100%;
}

.button {
	margin: 5px;
	padding: 6px 12px;
	font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border-radius: 2px;
	border: 1px solid transparent;
	background-color: #056571;
	color: #fff;
}

.button:hover {
	background-color: #034e58;
}

.button:disabled {
	background-color: #707677;
}

input {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	color: #414141;
}

input:focus {
	border: 1px solid #056571;
	border-radius: 4px;
}